// _base.scss

html {
	font-size: $m-size;
}

body {
	font-family: 'Open Sans', sans-serif, 400,800i;
	font-size: 1.6rem;
	text-align: justify;
}

#block_container > div {
	display: inline-block;
}

@media (min-width: 768px){
  .container{
    max-width:100%;
  }  
}

.markerInfo {
	max-width: 240;
}


.red {
	color: red;
}

.green {
	color: green;
}

.gray {
	color: gray;
}

.bold {
	font-weight: bold;
}

.center {
	content-align: justify;
}