// _showroom.scss

.postImageWrap {
	height: 240px;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.postImage {
	height: 240px;
	overflow: hidden;
    display: block;
}

.postItem {
	height: 240px;
	overflow: hidden;
    display: block;
}

.showroomPosts {
	margin-bottom: 10px;
}

.instagramRights {
	margin-top: 10px;
	margin-left: 20px;
}

.showrooomDetails {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-top: 100px;
}
